@page
@model WebApp.Pages.IngredientInRecipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredients in Recipies</h1>

<p>
    <a asp-page="Add">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IngredientInRecipe[0].Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientInRecipe[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientInRecipe[0].Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientInRecipe[0].Ingredient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IngredientInRecipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe!.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient!.IngredientName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
